*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body{
  width: 100%;
  height: 100%;
  background-image: url("../src/assets/Home/t.jpg");
  /* background-color: rgb(173, 190, 207); */
  font-family: sans-serif;
}
container {
  max-width: 95%;
  margin: auto;
}
/* style header */
.d_flex {
  display: flex;
  justify-content: space-between;
}
.f_flex {
  display: flex;
}
a {
  text-decoration: none;
  color: rgb(10, 4, 4);
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
button {
  border: none;
  outline: none;
  background-color: none;
}

.btn_shadow {
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.3s all ease;
  cursor: pointer;
  color: rgb(19, 18, 18);
  transition: 0.5s;
}
.btn_shadow {
  background: linear-gradient(145deg, #38383d, #2e2e35);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}
.btn_shadow:hover {
  background: #ff014f;
  color: rgb(252, 248, 248);
  transform: translateY(-10px);
}
.box_shodow {
  background: linear-gradient(145deg, #fdfeff, #fcfbfb);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border-radius: 10px;
}

.row,
.left,
.right {
  width: 50%;
}
.top {
  margin-top: 80px;
}
.mtop {
  margin-top: 40px;
}
.heading {
  margin: 50px 0 50px 0;
}
.heading h4 {
  color: #ff014f;
  letter-spacing: 2px;
  font-weight: 400;
}
.heading h1 {
  font-size: 60px;
  color: #020205;
}
h1 {
  color: #0e0f0f;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}
p {
  color: #f1f1f5;
}
.text-center {
  text-align: center;
}




a{
  text-decoration: none;
  color: orangered;
}

h1,h2,h3,h4,h5,h6,span{
  font-size: 18px;
  color: #fff;
  font-family: Poppins,sans-serif;
}
li{
  overflow: hidden;
}
span{
  display: block;
}
p{
  font-size: 16px;
  font-family: Poppins,sans-serif;
}
.white{
  color: #fff!important;
}
.black{
  color: #000!important;
}
.d__flex{
  display: flex;
}
.align__items__center{
  align-items: center;
}
.justify__content__center{
  justify-content: center;
}
.justify__content__space__between{
  justify-content: space-between;
}
.mx__15{
  margin: 0px 15px;
}
.px__30{
  padding: 0px 30px;
}
.pxy__30{
  padding: 30px;
}
.container{
  width: 92%;
  margin: 0px auto;
}
.pz__10{
  padding: 10px 0px;
}
.sweet{
  color: #F9004D;
}
.row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
}
.col__2 {
  max-width: 50%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}
.col__3{
  max-width: 33.333333%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.component__space{
  padding: 100px 0px;
}
.pointer{
  cursor: pointer;
}
svg {
  stroke-width: 1!important;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
strong{
  color: #F9004D;
  font-weight: 600;
}
input{
  color: rgba(198,201,216,.75);
}
button.btn {
 
  border: 2px solid #f9004d;
  background-color: #f9004d;
  color: #fff!important;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .4s all ease;

}
.p__color {
  color: rgba(198,201,216,.75);
  font-size: 18px;
  line-height: 30px;
  font-family: Poppins,sans-serif;
  margin-bottom: 15px;
}
button.about.btn.pointer:hover {
  background: #fff;
  color: #000!important;
}
/* RESPONSIVE */
@media only screen and (max-width: 768px){
.col__2 {
    max-width: 100%;
}
}
@media only screen and (max-width: 768px){
.col__3 {
    max-width: 50%;
}
}
@media only screen and (max-width: 425px){
.col__3 {
    max-width: 100%;
}
}
@media only screen and (max-width: 425px){
span.copyright {
    font-size: 13px!important;
}
.footer.d__flex.align__items__center.justify__content__space__between.pz-10 {
  flex-wrap: wrap;
}
}